@page
@model FinalProject.Pages.Shared.sendfailModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="email-compose-container">
                    <h2 class="text-center text-light" style="margin-top: 150px;">Send Fail</h2>

                    <a href="/Index" class="btn btn-primary btn-block btn-light text-danger flex-fill font-weight-bold" style="margin-top: 50px;">Home</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #9D0000;
        }
    </style>
</body>
